@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-color: #cbd5e1; */
  background-image: linear-gradient(to bottom, #cbd5e1, #dfdfdf);

  /* color palette */
  --Primary-Color: #8053ff;
  --Main-Body-Color: #23155b;
  --Gray-Light-Color: #817d8e;
  --White-Color: #ffffff;
  --Background-Color: #f4f4f4;

  /* consistent styling */
  --default-radius: 5px;
  --section-margin-TB: 50px;

  /* Error */
  --errorColor: rgb(255 38 38);
}

@layer base {
  html {
    font-size: 16px;
    font-family: "Noto Sans Khojki", sans-serif;
    scroll-behavior: smooth;
  }

  html, body, #root{
    min-height: 100vh;
    width: 100%;
  }

  a {
    text-decoration: none;
  }

  ul,
  ol {
    list-style-type: none;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    font-family: "Noto Sans Khojki", sans-serif;
  }

  textarea {
    resize: vertical;
  }

  button {
    cursor: pointer;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: var(--default-radius);
  }

  .wrapper {
    max-width: 80%;
    margin: 0 auto;
  }

  h1 {
    font-size: clamp(2rem, 2vw + 0.75rem, 3rem);
    font-weight: 600;
  }

  h2 {
    font-size: clamp(1rem, 5vw + 0.75rem, 2rem);
  }

  h2,
  h3 {
    font-weight: 600;
    /* margin: 10px 0; */
  }

  h3 {
    font-size: 1.5rem;
    color: var(--Primary-Color);
  }

  form
  {
    display: block;
    max-width: 600px;
  }

  label {
    margin-bottom: 12px;
    font-weight: 500;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    border: none;
    font-size: 16px;
    height: auto;
    margin-bottom: 10px;
    outline: 1px solid var(--Primary-Color);
    padding: 15px;
    width: 100%;
    background-color: var(--White-Color);
    color: #35383a;
    border-radius: var(--default-radius);
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  textarea:focus {
    outline: 3px solid rgb(0 229 177);
  }

  input:read-only, 
  textarea:read-only,
  [contenteditable]:read-only {
    cursor: not-allowed;
    background-color: #E5E7EB;
    pointer-events: none;
    color: #817d8e;
    outline: none;
  }


  .errorMessages {
    display: block;
    width: 100%;
    color: var(--errorColor);
    margin: 5px 0;
    font-weight: 600;
    /* height: 0px; */
    /* transition: height 0.4s ease; */
  }
  
}

@layer components {
  .purple-span {
    color: var(--Primary-Color);
  }

  .purple-fill-btn {
    background-color: var(--Primary-Color);
    color: var(--White-Color);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: var(--default-radius);
  }

  .purple-border-btn {
    border: 1px solid var(--Primary-Color);
    color: var(--Primary-Color);
    padding: 0.5rem 1rem;
    border-radius: var(--default-radius);
  }

  .data-table tr{
    border-bottom: 1px solid gray;
  }

  .data-table td {
    @apply bg-gray-100 dark:bg-[#4322C9A3] p-[0.5rem] text-[0.5rem];
  }

  .data-table tr:last-child {
    border: none;
  }

  .data-table th {
    @apply p-[0.55rem] text-[0.5rem];
  }

  @media (min-width: 640px) {
    .data-table td, .data-table th {
      @apply p-[1rem] text-[0.9rem]; 
    }
  }

}
